

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #323438;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


body {
  font-family: 'Courier New', Courier, monospace1;
}
.loading {
  position: absolute;
  transform: scale(0.6);
  left: 450px;
}

.btn {
  position: absolute;
  top: 0;
  right: 0;
}
label:not(:last-child){
  margin-right: 1rem;
}
h2 {
position: absolute;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
